body{
    
    background-image: url("./images/background.jpg");
    background-size:initial;
    background-repeat: no-repeat;
    margin: 0px;
    padding:0px;
    font-family: 'Poppins' , sans-serif;
    color:#333e4f;
}
.container{
    width: 90%;
    margin-left: 7%;
    margin-right:7%;
    height: 180vh;
}

.navbar{
    margin-top:8vh;
    position:relative;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.content{
    margin-top:15vh;
    margin-left: 8%;
    width:50%;
    height: 30vh;
    
}
.content >h1{
    
    line-height: 0;
}
#pre{
    color: #3A7FB0;
    font-size:16px;
    font-weight: 300;
}
#post{
    color:#333E4F;
    font-size:28px;;
    font-weight:300;
}
.mail{
    width:200px;
	border: 1px solid #333e4f;
	padding:5px 10px;
    border-radius:6px;

}
.logo{
    width:30%
}
.logo > img{
    width:40%;
    height: auto;
}
.menu{ 
    margin-right: 12%;
    font-size:18px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
     color:#333e4f; 
     text-decoration:none; 
     cursor:pointer;  
}
.iconParent{
    margin-top: 100px;
    width:80%;
    margin:auto;
    display:flex;
    justify-content: flex-end;
}
.icons{
    font-size:30px; 
    width: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.content2{
    margin-top:20vh;
    margin-left: 8%;
    width:75%;
    height: 30vh;   
}
.content2 > p{
    margin-top:10vh;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
@media only screen and (max-width: 1200px) {
    .content {
      width: 95%;
      margin:auto;
      margin-top:15vh;
      margin-bottom: 60px;
    }
    .content > h1{
        line-height: 1;
        font-size: 28px;
    }
    #pre{
        color: #3A7FB0;
        font-size:16px;
        font-weight: 300;
    }
    #post{
        color:#333E4F;
        font-size:18px;;
        font-weight:300;
    }
    .logo{
        width:50%;
    }
    .logo >img{
        width: 50%;
        height: auto;
    }
    .menu{ 
        width: 40%;
    }
    .icons{
        width:20%;
    font-size: 20px;
    }

    .content2{
        margin-top:13vh;
        width:80%;
    }
    .content2 > p{
        margin-top: 4vh;;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
    }

  }
  @media only screen and (min-width: 1800px) {
      .container{
          width:60%;
          margin-left: 20%;
          margin-right:20%;
      }
  }