body{
    
    background-image: url("./images/background.jpg");
    margin: 0px;
    padding:0px;
    font-family: 'Poppins' , sans-serif;
    color: white;
}
.container{
    width: 90%;
    margin-left: 7%;
    margin-right:7%;
    height: 90vh;
}
.navbar{
    margin-top:40px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.content{
    width:50%;
    height: 250px;
    margin-top: 150px;
}
.content >p{
    color: grey;
}
.mail{
    width:200px;
    height:40px;
	border: 1px solid white;
	padding:1px;
    border-radius:6px;
}
.logo{
    width:30%
}
.logo > img{
    width:40%;
    height: auto;
}
.menu{ 
    font-size:18px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
     color:white; 
     text-decoration:none; 
     cursor:pointer;  
}
.icons{
    margin-right:7%;
    margin-left:87%;
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
    .content {
      width: 95%;
    }
    .content > h1{
        font-size: 28px;
    }
    .logo{
        width:50%;
    }
    .logo >img{
        width: 50%;
        height: auto;
    }
    .menu{ 
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .icons{
    width: 10%;
    margin-right:10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
  }