body{
    
    /* background-image: url("./images/background.jpg"); */
    background-color: #E5E5E5;
    background-size:initial;
    background-repeat: no-repeat;
    margin: 0px;
    padding:0px;
    font-family: 'Poppins' , sans-serif;
    color: black;
    /* :#333e4f; */
}
.container{
    width: 100%;
    /* margin-left: 7%;
    margin-right:7%; */
    height: 180vh;
}

.navbar{
    /* background-color: #383131; */
    width: 90%;
    margin-left: 7%;
    margin-right:7%;
    color: white;
    margin-top:8vh;
    position:relative;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.main_section{

    margin-right:8%;
    margin-top:15vh;
    margin-left: 15%;
    width:50%;
    height: 30vh;
    
}
.main_section >h1{
    
    line-height: 0;
}
#pre{
    /* color: #3A7FB0; */
    font-size:16px;
    font-weight: 300;
}
#post{
    /* color:#333E4F; */
    font-size:28px;;
    font-weight:300;
}
.mail{
    width:200px;
	border: 1px solid #333e4f;
	padding:5px 10px;
    border-radius:6px;

}
.logo{
    width:30%
}
.logo > img{
    width:40%;
    height: auto;
}
.menu{ 
    margin-right: 12%;
    font-size:18px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    color: black; 
    /* color:#333e4f;  */
     text-decoration:none; 
     cursor:pointer;  
}
.iconParent{
    margin-top: 100px;
    width:70%;
    margin:auto;
    display:flex;
    justify-content: flex-end;
}
.icons{
    font-size:30px; 
    width: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.content2{
    margin-top:20vh;
    margin-left: 8%;
    width:75%;
    height: 30vh;   
}
.content2 > p{
    width:80%;
    margin-left: 15%;
    margin-top:10vh;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}
.content2>span{
    font-style: italic;
}
.tables{
    width:80%;
    margin-left: 15%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
   justify-content:space-evenly;
}
.table{
    width:60%
}
.content2>hr{
    margin-top:8%;
    height:2px;
    background: black;
}
 
.contact{
    margin-top:5%;
    margin-left:15%;
    margin-right: 15%;
    margin-bottom: 5%;
    width:75%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media only screen and (max-width: 1200px) {
    .main_section {
      width: 90%;
      margin:auto;
      margin-top:15vh;
      margin-bottom: 60px;
    }
    .main_section > h1{
        line-height: 1;
        font-size: 28px;
    }
    #pre{
        font-size:16px;
        font-weight: 300;
    }
    #post{
        font-size:18px;;
        font-weight:300;
    }
    .logo{
        width:50%;
    }
    .logo >img{
        width: 10%;
        height: auto;
    }
    .menu{ 
        width: 60%;
    }
    .icons{
        width:20%;
    font-size: 20px;
    }

    .content2{
        margin-top:13vh;
        width:80%;
    }
    .content2 > p{
        margin-top: 4vh;;
        font-size: 12px;
        line-height: 1.2;
    }
    .tables{
        font-size: 12px;
        flex-direction: column;
       justify-content:center;
    }
    .table{
        width:100%;
    }

  }
  @media only screen and (min-width: 1800px) {
      .container{
          width:60%;
    padding-left: 15%;
    padding-right:15% ;
      }
  }